.control-ingreso {
    margin-top: 75px;
}
.cancelar-reserva{
    margin-top: 75px;
    padding-top: 200px;
    padding-bottom: 300px;
}
.control-ingreso .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}
.control-ingreso .comentario{
    font-size: 12px;
    color: #777;
}
.control-ingreso label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}
.control-ingreso .box-response {
    width: 100%;
    padding: 20px;
    background-color: #e9eff3;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.control-ingreso p {
    margin-bottom: 5px;
}
.control-ingreso table th{
    background-color: #1977cc;
    color: #fff;
}
span.dato-entrada {
    font-weight: 700;
    color: #1d5f8a;
}
.cantidad-ingreso{
    text-align: center;
    font-weight: 700;
    color: #1d5f8a;
}
.cancelar-reserva .card-header {
    background-color: #1977cc;
    color: #fff;
}
.cancelar-reserva .card-header h4{
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

p.msg-cancelar-reserva {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #2c4964;
}
.control-ingreso table tfoot th {
    background-color: #fff;
    color: #666;
    vertical-align: middle;
}
input#total-ingresos {
    text-align: center;
}