#header {
    background-color: #1D5F8A;
    color: #fff;
}

#footer {
    background-color: #1d5f8a;
    color: #fff;
}

#header .logo a {
    color: #fff;
}

.appointment-btn {
    background: #0089f2;
    color: #fff;
    font-weight: 700;
}

#btn-buscar {
    /* background: #1977cc; */
    border: 0;
    padding: 7px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    width: 100%;
    font-weight: 700;
}

.single-calendar {
    background-color: #fff !important;
}

.input-group.date .input-group-addon {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    border-left: 0;
}

td.separador-dia {
    background-color: #eaefe9;
    font-weight: 700;
    color: #555;
}

.btn-reserva-cliente {
    border: 0;
    padding: 7px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    font-weight: 700;
}

table#turnos thead {
    display: none;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #1977cc;
    border-color: #1977cc;
}

.modal-open {
    overflow: initial;
    padding-right: 0 !important;
}

#topbar,
#header {
    padding-right: 0 !important;
}

/**
CALENDARIO */
.daterangepicker td.start-date.end-date {
    border-radius: 50%;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    min-width: 32px;
    width: 32px;
    height: 32px;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    border-radius: 50%;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #1977cc;
    border-color: transparent;
    color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #57b230;
    border-color: #57b230
}

section#banners_home {
    margin-top: 107px;
    padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.img-banner {
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0 !important;
    padding: 40px 0;
}

.img-banner .img-mask {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.white {
    color: #fff;
    position: relative;
}

section#services {
    padding-top: 40px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    padding: 0 10px !important;
    opacity: .3;
    transition: opacity .2s ease;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    opacity: 1;
}

button.owl-prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

button.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button:focus {
    outline: none !important;
}

i.icofont-check-circled, i.icofont-error {
    font-size: 20px;
    font-weight: 500;
}
img.logo_unju, img.logo_comedor, img.logo_sbu {
    width: 130px;
    margin: 0 10px;
}
.text-center.white.resoluciones {
    min-height: 200px;
}
h4.modal-title {
    color: #1D5F8A;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    background-color: #eee;
}
@media (max-width: 992px) {
    section#banners_home {
        margin-top: 67px;
    }

    section#banners_home .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .appointment-btn {
        margin: 0;
    }

    section#banners_home {
        margin-top: 63px;
    }
}