.loading {
	display: block;
	width: 100%;
	position: fixed;
	height: 100vh;
	z-index: 9999;
	background-color: #000000ab;
}

.loading i {
	left: 50%;
	right: 50%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	color: white;
}

/**
FORM
*/
.was-validated .form-control:invalid {
	border: 1px solid #dc3545;
}

.was-validated .form-control:valid {
	border: 1px solid #28a745;
}

.input-group:not(.has-validation)>.input-group-append:not(:last-child)>.input-group-text {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

/** MENU */
.nav-link-user>i {
	font-size: 22px;
}

/** ERROR */
p.errorWeb {
	display: none;
}

.form-group-check {
	margin-top: 38px;
}

/** MODAL */
.modal-body p {
	margin-bottom: 3px;
}

.text-horario.text-detail {
	font-size: 13px;
	margin-bottom: 0;
	color: #555;
	font-weight: 700;
}

span.card-title {
	margin-left: 6px;
	font-size: 15px;
	/* vertical-align: text-bottom; */
	font-weight: 600;
	margin-top: 2px;
	color: #555;
}

p.reserva-total {
    background-color: #666;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
}

p.reserva-consumida {
    background-color: #28a745;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
}

p.reserva-noconsumida {
    background-color: #666;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
}
p.text-horario.text-detail.text-vegetariano {
    background-color: #b5e2bf;
    padding: 0 10px;
}